@using Thesis.Web.Models;
@using Thesis.Web.Models.Enums;
@inject SignInManager<MyIdentityUser> SignInManager
@inject UserManager<MyIdentityUser> _userManager

@{
    var user = await _userManager.GetUserAsync(User);
}

<ul class="link" style="line-height: 2.5rem;">

    @if (SignInManager.IsSignedIn(User) && user != null)
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @user.DisplayName!</a>
        </li>

        @if (await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.Administrator.ToString()))
        {
            <li>
                <a  asp-controller="Users" asp-action="Index" class="btn btn-primary btn active" role="button" aria-pressed="true">Students</a><br>
            </li>
            <li>
                <a  asp-controller="SubmissionDetails" asp-action="Index" class="btn btn-primary btn active" role="button" aria-pressed="true">SubmissionDetails</a><br>
            </li>
        }

        @if (await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.Administrator.ToString())
             || await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.Faculty.ToString()))
        {
            <li>
                @*<a  asp-controller="Faculties" asp-action="Index">Faculty</a>*@
                <a asp-controller="Faculties" asp-action="Index" class="btn btn-primary btn active" role="button" aria-pressed="true">Faculty</a><br>
            </li>
        }
        <li>
           <form class="form-inline"
              asp-area="Identity" asp-page="/Account/Logout"
              method="post">
                <button type="submit" class="nav-link btn btn-primary">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary btn active" role="button" aria-pressed="true">Register</a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary btn active" role="button" aria-pressed="true">Login</a>
        </li>
    }
    </ul>
